Repository arsalanc-v2/blotjson, pull requests merged in 2020-07, with the labels that each got.

#6 Frontend + nodejs: add changes for deployment
  src/frontend/.gitignore
  src/frontend/package.json
  src/frontend/src/index.html
  src/frontend/src/js/darkTheme.js
  src/frontend/src/js/index.js
  src/frontend/src/styles/index.css
  src/lang/nodejs/.gitignore
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
  src/lang/nodejs/src/index.js
  src/lang/nodejs/src/index.test.js
Labels: enhancement

#20 Get development branch up to date with master to prevent future conflicts
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/npm-publish.yml
  README.md
  src/frontend/.gitignore
  src/frontend/inline.js
Labels: frontend

#24 Change npm deployment README file
  .github/workflows/go.yml
  .github/workflows/npm-publish.yml
  README.md
  docs/common_footer.md
  docs/common_header.md
  docs/main_body.md
  docs/main_header.md
  jest.config.json
  logo_dark.svg
  logo_light.svg
  package-lock.json
  package.json
  src/frontend/src/index.html
  src/frontend/src/js/index.js
  src/frontend/src/styles/index.css
  src/lang/nodejs/.gitignore
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/docGenerator.js
  src/lang/nodejs/docs/nodejs_header.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
  src/lang/nodejs/src/index.js
Labels: nodejs

#27 Revert "Change npm deployment README file"
  .github/workflows/go.yml
  .github/workflows/npm-publish.yml
  README.md
  logo_dark.svg
  logo_light.svg
  package-lock.json
  package.json
  src/docs/common_footer.md
  src/docs/common_header.md
  src/docs/main_body.md
  src/docs/main_header.md
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/index.html
  src/frontend/src/js/index.js
  src/frontend/src/styles/index.css
  src/lang/nodejs/.gitignore
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/docGenerator.js
  src/lang/nodejs/docs/nodejs_header.md
  src/lang/nodejs/package-lock.json
Labels: frontend, nodejs

#29 Update nodejs deployment workflow
  .github/workflows/npm-publish.yml
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_header.md
Labels: nodejs

#31 Increment package version
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs

#34 Center badges
  README.md
  docs/main_header.md
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_header.md
Labels: nodejs

#36 Remove extra logo in docs
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_header.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs

#37 Fix docs logo url
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_header.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs

#38 Add misc changes
  README.md
  docs/common_header.md
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_header.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
  src/lang/nodejs/src/index.js
Labels: nodejs

#39 Fix readme typo
  README.md
  docs/common_header.md
  src/lang/nodejs/README.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs

#23 Add go backend
  src/lang/go/src/blotjson/blotjson.go
  src/lang/go/src/blotjson/blotjson_test.go
  src/lang/go/src/blotjson/go.mod
  src/lang/go/src/blotjson/go.sum
Labels: enhancement

#41 Move go files
  src/lang/go/.gitignore
  src/lang/go/blotjson.go
  src/lang/go/blotjson_test.go
  src/lang/go/go.mod
  src/lang/go/go.sum
Labels: golang

#43 Fix docs
  README.md
  docs/main_body.md
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_body.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs

#44 Fix docs
  .github/workflows/go.yml
  README.md
  docs/main_body.md
  src/lang/nodejs/README.md
  src/lang/nodejs/docs/nodejs_body.md
  src/lang/nodejs/package-lock.json
  src/lang/nodejs/package.json
Labels: nodejs
